h1 {
    font-size: 48px;
}
body {
    background-color: #4F2683;
    color: #FFC62F;
    text-align: center;
}
.hidden {
    display: none;
}
button {
    width: 60px;
    padding: 12px;
    border-radius: 12px;
    background-color: #FFC62F;
    color: #4F2683;
    border: none;
    margin: 10px;
}
button:hover {
    width: 60px;
    padding: 12px;
    border-radius: 12px;
    background-color: blue;
    color: red;
    font-weight: bolder;
    border: none;
    margin: 10px;
}
#question {
    font-size: 36px;
    margin: 20px;
    padding: 20px;
}
.correct {
    color: white;
    background-color: green;
}
.wrong {
    color: white;
    background-color: red;
}
.timer {
    font-size: 24px;
}
#score {
    font-size: 24px;
}